.report-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  margin: 15px 0;
}

.report-container>div{
    flex: 1;
    text-align: center;
}

.report-header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    margin: 15px 0;
}

.report-container>div:first-of-type{
    border-right: 1px solid #ccc;
}

.report{
    font-size: 20px;
    letter-spacing: 0.1em;
    margin: 5px 0;
}

.report.plus{
    color: #00a65a;
}

.report.minus{
    color: #dd4b39;
}